<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      internalLogFile="../logs/nlog.log"
      internalLogLevel="Info" >

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to console -->
    <target xsi:type="Console" name="Console"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=tostring}" />
    
    <!-- write logs to file -->
    <target xsi:type="File" name="Error" fileName="../logs/error.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=tostring}" />

    <target xsi:type="File" name="All" fileName="../logs/all.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=tostring}" />

    <!-- project logs -->
    <target xsi:type="File" name="LEDBlink" fileName="../logs/LEDBlink.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=tostring}" />

    <target xsi:type="File" name="LEDBreathe" fileName="../logs/LEDBreathe.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=tostring}" />
    
    <target xsi:type="File" name="LEDBreatheSoftware" fileName="../logs/LEDBreatheSoftware.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=tostring}" />

    <target xsi:type="File" name="LEDSwitch" fileName="../logs/LEDSwitch.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=tostring}" />

    <target xsi:type="File" name="RGBRandom" fileName="../logs/RGBRandom.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=tostring}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>  
    <!-- project targets -->
    <logger name="*.LEDBlink" minlevel="Trace" maxLevel="Warn" final="true" writeTo="LEDBlink" />
    <logger name="*.LEDBreathe" minlevel="Trace" maxLevel="Warn" final="true" writeTo="LEDBreathe" />
    <logger name="*.LEDBreatheSoftware" minlevel="Trace" maxLevel="Warn" final="true" writeTo="LEDBreatheSoftware" />
    <logger name="*.LEDSwitch" minlevel="Trace" maxLevel="Warn" final="true" writeTo="LEDSwitch" />
    <logger name="*.RGBRandom" minlevel="Trace" maxLevel="Warn" final="true" writeTo="RGBRandom" />
    
    <!-- general targets -->
    <logger name="*" minlevel="Info" writeTo="Console" />
    <logger name="*" minlevel="Trace" writeTo="All" />
    <logger name="*" minlevel="Error" writeTo="Error" />
  </rules>
</nlog>